{
  "endOfLine": "lf",
  "semi": true,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "es5",
  "importOrder": [
    "^(react/(.*)$)|^(react$)",
    "^(next/(.*)$)|^(next$)",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@/content/(.*)$",
    "^@/lib/(.*)$",
    "^@/sanity/(.*)$",
    "^@/components/(.*)$",
    "",
    "^[./]"
  ],
  "importOrderParserPlugins": [
    "typescript",
    "jsx"
  ],
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "tailwindStylesheet": "./flavors/minimal/styles.css",
  "tailwindFunctions": [
    "cn",
    "cva"
  ],
  "overrides": [
    {
      "files": [
        "flavors/drawing-set/**",
        "app/f/drawing-set/**"
      ],
      "options": {
        "tailwindStylesheet": "./flavors/drawing-set/styles.css"
      }
    },
    {
      "files": [
        "flavors/picker/**",
        "app/flavors/**"
      ],
      "options": {
        "tailwindStylesheet": "./flavors/picker/styles.css"
      }
    }
  ]
}
